@import "tailwindcss";

@theme {
  --color-brand-cyan: #00F0FF;
  --color-brand-orange: #FF5C00;
  --color-bg-base: #020617; /* slate-950 */
  
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-hindi: "Hind", sans-serif;
}

body {
  background-color: var(--color-bg-base);
  color: white;
}